<div id="quote" class="col-xs-12">
	<h1>Holidays the month I was born:</h1>
	<ul>
		<% @holidays_born.each do |holiday| %>
			<li><p style="color: black"><%= holiday[0]["name"] %></p></li>
		<% end %>
	</ul>
	<h1>Holidays this month:</h1>
</div>